:root {
    --font-color:#212121;
    --font-color-secondary:#757575;
    --highlighted-element: #2196F3;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}
.logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: red;
    text-decoration: none;
}
.header .logo2 {
    color:#000000;
}
.footer .logo2 {
    color: #FFFFFF;
}
.link {
    font-family: Roboto;
    color: var(--font-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}
.contact {
    font-family: Roboto;
    color: var(--font-color-secondary);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}
.link:focus,
.link:hover {
    color: var(--highlighted-element)
}
.contact:focus,
.contact:hover {
    color: var(--highlighted-element);
}
.index-main-header h1 {
    color:#FFFFFF;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: #2F303A;
    }
.button-order {
    color:#FFFFFF;
    background-color:var(--highlighted-element);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
}
.cipsun h3 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;    
}
.cipsun p {
    color:var(--font-color-secondary);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}
.index-crackheads h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;

}
.index-team {
    background-color:#F5F4FA;    ;
}
.index-team h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}
.index-team h3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}
.index-team p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}
.footer {
background-color: #2F303A;
}
.footer address {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;    
}
.footer .contact {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
}
